<div class="alert alert-success">
    You have registered to attend this meeting! Please note that you registered as a guest, so our knowledge of this is based on a cookie in your browser.
    <br/>
    Have you considered <a asp-controller="Account" asp-action="Register">becoming a member?</a>
</div>