@model Meeting
@inject IRepository<Venue> VenueRepository

<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="Title"></label>
    <div class="col-sm-9">
        <input asp-for="Title" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="Description"></label>
    <div class="col-sm-9">
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="Speaker"></label>
    <div class="col-sm-9">
        <input asp-for="Speaker" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="SpeakerBio"></label>
    <div class="col-sm-9">
        <textarea asp-for="SpeakerBio" class="form-control"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="MeetingDate"></label>
    <div class="col-sm-9">
        <input asp-for="MeetingDate" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" asp-for="VenueId"></label>
    <div class="col-sm-9">
        <select class="form-control" asp-for="VenueId" asp-items=@VenueRepository.All().Select(v => new SelectListItem {Text = v.Name, Value = v.Id.ToString()})>
            <option value="0">Select</option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <div class="checkbox">
            <label>
                <input asp-for="RegistrationOpen" type="checkbox"/> Registration Open
            </label>
        </div>
    </div>
</div>