@model Meeting

@{
    ViewBag.Title = "Create New Meeting";
}

<h2>Create New Meeting</h2>

<form class="form-horizontal" role="form" asp-controller="Meetings" asp-action="Create">
@await Html.PartialAsync("_CreateOrEdit")


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>